name: .NET Build and Test Template

on:
  workflow_call:
    inputs:
      project_name:
        required: true
        type: string
        description: "The name of the project"
      project_path:
        required: true
        type: string
        description: "The relative path to the project directory"
      run_tests:
        required: false
        type: boolean
        default: true
        description: "Flag to run or skip tests"
env:
  DOTNET_VERSION: '10.0.x'
  EF_VERSION: '6.0.5'
  JAVA_VERSION: '17'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'microsoft'
        java-version: ${{ env.JAVA_VERSION }}

    - name: Restore dependencies
      run: dotnet restore ${{ inputs.project_path }}

    - name: Build
      env:
        CI: true
      run: |
        dotnet build --no-restore -p:CI=${CI} ${{ inputs.project_path }}